.structure {
  top: 160px;
  margin: auto;
  width: 620px;
  height: auto;
  background-color: white;
  position: relative;
}

.row {
  display:inline-block;
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}



.col {
  position: relative;
  display:inline-block;
  background-color: #eeeef0;
  width: 200px;
  height: 250px;
}



.sconto {
  position: absolute;
  background-color: green;
  top: 0px;
  right: 0px;
}

.sconto5 {
  position: absolute;
  background-color: red;
  top: 0px;
  right: 0px;
}


.heart {
  max-width:30px;
  max-height:auto;
}

.heart {
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;


}


.col:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.col:hover .heart {
  visibility: visible;
  opacity: 1;
  transition: opacity .7s, visibility .7s;
}
