.structure {
  top: 160px;
  margin: auto;
  width: 620px;
  min-height: 500px;
  height: auto;
  background-color: white;
  position: relative;
}

.rowOne {
  display:inline-block;
  position: relative;
  height: auto;
  margin: 0 auto;
  width: 100%;
  margin-top: 5px;
  margin-bottom:5px;
  text-align: center;
}

.rowTwo {
  display:inline-block;
  position: relative;
  height: auto;
  margin: 0 auto;
  width: 100%;
  margin-bottom:5px;
  text-align: center;
}

.colOne {
  position: relative;
  display:inline-block;
  background-color: #eeeef0;
  width: 200px;
  height: 250px;


}

.tab {
  max-width:100%;
  max-height:100%;
  vertical-align: top;
}

.colTwo {
  position: relative;
  display:inline-block;
  background-color: #eeeef0;
  width: 200px;
  height: 250px;
  border: 5px;


}

.colThree {
  position: relative;
  display:inline-block;
  background-color: #eeeef0;
  width: 200px;
  height: 250px;

}

.colOne-two {
  position: relative;
  display:inline-block;
  background-color: #eeeef0;
  width: 200px;
  height: 250px;
  border: 5px;


}

.colTwo-two {
  position: relative;
  display:inline-block;
  background-color: #eeeef0;
  width: 200px;
  height: 250px;


}

.colThree-two {
  position: relative;
  display:inline-block;
  background-color: #eeeef0;
  width: 200px;
  height: 250px;


}

.sconto {
  position: absolute;
  background-color: green;
  top: 0px;
  right: 0px;
}

.sconto5 {
  position: absolute;
  background-color: red;
  top: 0px;
  right: 0px;
}


.heart {
  max-width:30px;
  max-height:auto;
}

.heart {
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}


.colOne:hover .heart, .colTwo:hover .heart, .colThree:hover .heart, .colOne-two:hover .heart, .colTwo-two:hover .heart, .colThree-two:hover .heart {
  visibility: visible;
  opacity: 1;
}
